.pokemon-img {
    width: 400px;
}
.round {
    width: 400px;
    height: 400px;
    border: 6px solid #121212;
    border-radius: 214px;
}
.tap {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #121212;
    text-decoration: none;
    margin-left: 145px;
}
.tapp {
    margin-top: 18px;
    margin-bottom: 44px;
}
.grid {
    display: grid;
    grid-template-rows: 480px 480px;
    grid-template-columns: 444px 444px;
    gap: 0;
    position: relative;
}

