.Foot {
    max-width: 1440px;
    min-width: 300px;
    margin: 0 auto; 
}


.Footer {
    max-width: 1440px;
    min-width: 300px;
    height: 136px;
    background-color: #121212;
    margin-top: 100px;
    padding-top: 20px;
}
.contacts {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}


.Footer .title p {
    font-family: 'Roboto';
    text-align: center;
    font-style: normal;
    font-weight: regular;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

